<section class="details-card">
  <div class="row mb-5">
  <div class="card mx-auto">
    <div class="card-body">
      <p class="lead">Something interesting?</p>
      <a href="#!/posts/add" class="btn btn-success btn-block">Create a new post!</a>
    </div>
  </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5" ng-repeat="post in postsList">
                <div class="card-content">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/nature" alt="">
                        <span><a href="#!/posts/edit/{{post._id}}" class="btn"><em class="fas fa-edit"></em>Edit</a></span>
                    </div>
                    <div class="card-desc">
                      <h3>{{post.title}}</h3>
                        <p>{{post.description}}</p>
                        <small>{{post.date}}</small>
                        <div class="d-flex justify-content-between mt-2">
                            <a href="#" class="btn btn-outline-success">Discussion</a>
                            <form ng-submit="delete(post._id)" ng-controller="PostDeleteCtrl">
                                <button class="btn btn-danger btn-sm" type="submit">
                                    Delete
                                </button>
                            </form>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
